@import url('../vendor/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    outline: 1px solid green;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* --inter: 'Inter', Arial, Helvetica, sans-serif; */
    --poiret-one: 'Poiret-One', Arial, Helvetica, sans-serif;
    --rubik: 'Rubik', Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}   

.container {
    max-width: 1520px;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

/* ------- Блок ХЕДЕР ------ */

.header {
    background-color: #121E2A;

}

.header__block {
    padding-top: 16px;
    padding-bottom: 16px;
}

.header__block-info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-height: 52px;
    height: 100%;
}

.header__block-logo-slogan {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__block-logo-slogan img {
    max-width: 50px;
    max-height: 24px;
    width: 100%;
    height: 100%;
    padding-right: 16px;
}

.header__block-logo-slogan p {
    max-width: 308px;
    width: 100%;
    padding-left: 16px;
    border-left: 1px solid #fff;
    color: #fff;
    font-family: var(--rubik);
}

.header__block-info button {
    padding: 14px 32px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 18px;
    max-width: 538px;
    width: 100%;
}

.header__block-info a {
    display: flex;
    cursor: pointer;
    max-width: 129px;
    max-height: 39px;
    width: 100%;
    height: 100%;
    color: #fff;
}


.header__block-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-height: 48px;
    margin: 12px 0 0 0;
}

.header__block-list ul {
    display: flex;
    max-width: 985px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.header__block-list li {
    list-style-type: none;
}

.header__block-list a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.header__block-list button {
    padding: 12px 48px;
    border-radius: 26px;
    border: none;
}

/* -------- /Блок ХЕДЕР -------- */

/* ---------- Блок Интро ----------- */

.intro {
    background-image: url('../images/intro-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 50px 50px;
}

.intro .container {
    min-height: 793px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.intro__header-block {
    padding-top: 100px;
    margin: 0 0 97px 0; 
    max-width: 1131px;
    min-height: 443px;
    width: 100%;
}

.intro__header-block h1 {
    font-size: 64px;
    font-weight: 100;
    margin: 0 0 16px 0;
    color: #fff;
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;

}

.intro__header-block h2 {
    max-width: 748px;
    min-height: 68px;
    width: 100%;
    height: 100%;
    font-size: 28px;
    color: #fff;
}

.intro__button-block {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.intro__button-block button {
    padding: 20px 48px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
}

.intro__target-audience-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.intro__target-audience-list li {
    max-width: 356px;
    min-height: 160px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 15px 15px 0 0;
}

.intro__target-audience-list img {
    display: flex;
    max-width: 64px;
    max-height: 64px;
    width: 100%;
    height: 100%;
}

.intro__target-audience-list p {
    max-width: 308px;
    width: 100%;
    text-align: center;
}

/* ------- Блок Причины ------- */

.reasons h2 {
    font-size: 42px;
    margin-top: 64px;
    /* font-weight: 100; */
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
    color: #121E2A;
}

.reasons__cards-block {
    width: 100%;
    min-height: 744px;
    height: 100%;
    display: grid;
    gap: 32px; 
    grid-template-areas: 
        "reasons__cards-block-item1 reasons__cards-block-item1 reasons__cards-block-item2 reasons__cards-block-item3"
        "reasons__cards-block-item4 reasons__cards-block-item5 reasons__cards-block-item2 reasons__cards-block-item6"; 
    margin: 60px 0;
}

.reasons__cards-block-item {
    max-width: 744px;
    min-height: 356px;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    color: #F5E5D5;
    font-size: 24px;
    padding: 0 16px 16px 16px;
}

.reasons__cards-block-item p {
    margin: 0;
    padding: 0;
}

.reasons__cards-block-item1 {
    grid-area: reasons__cards-block-item1;
    background-image: url('../images/reasons-im1.png');
}

.reasons__cards-block-item2 {
    grid-area: reasons__cards-block-item2;
    background-image: url('../images/reasons-im2.png');
}

.reasons__cards-block-item3 {
    grid-area: reasons__cards-block-item3;
    background-image: url('../images/reasons-im3.png');
    
}

.reasons__cards-block-item4 {
    grid-area: reasons__cards-block-item4;
    background-image: url('../images/reasons-im4.png');
    
}

.reasons__cards-block-item5 {
    grid-area: reasons__cards-block-item5;
    background-image: url('../images/reasons-im5.png');
    
}

.reasons__cards-block-item6 {
    grid-area: reasons__cards-block-item6;
    background-image: url('../images/reasons-im6.png');
    
}

.reasons button {
    padding: 20px 91px;
    margin: 32px auto 64px;
    display: block;  
    border-radius: 24px;
    border: none;
    background-color: #F5E5D5;
    color: #121E2A;
    cursor: pointer;
}

/* -------- /Блок Причины -------- */

/* --------- Блок Стратегия -------- */

.strategy {
    min-height: 808px;
    height: 100%;
    width: 100%;
    background-color: #0C232D;
    color: #F5E5D5;
}

.strategy h2 {
    font-weight: 100;
    font-size: 46px;
    margin: 0;
    padding-top: 64px;
    font-family: 'Poiret One', Arial, Helvetica, sans-serif;
}

.strategy__block-stages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 48px 0 64px;
}

.strategy__block-stages-text-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 451px;
    max-width: 485px;
    width: 100%;
    height: 100%;
    margin: auto 0;
}

.strategy__block-stages-text-btn ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 339px;
    width: 100%;
    height: 100%;
    color: #F5E5D5;
    border: 1px solid #000;
    list-style-position: inside;
    list-style: none;
    padding: 0;
}

.strategy__block-stages-text-btn button {
    padding: 20px 50px;
    border-radius: 24px;
    border: none;
}

/* -------- /Блок Стратегия ------- */

.object-model {
    min-height: 1180px;
    height: 100%;
    width: 100%;
}

.object-model__block {
    display: flex;
    flex-direction: column;
}

.object-model__block h2 {
    font-size: 46px;
    font-weight: 100;
}

.object-model__block ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin: 48px 0;
    padding: 0;
}

.object-model__block li {
    list-style: none;
    font-size: 24px;
    padding: 12px 18px;
    margin: 0;
    border-radius: 16px;
    color: #121E2A;
    border: 1px solid #121E2A;
}

.object-model__cards {
    min-height: 694px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.object-model__cards-item {
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    max-width: 485px;
    width: 100%;
    border-radius: 24px;
}

.object-model__block button {
    margin: 24px auto 64px;
    border: none;
    font-size: 24px;
    background-color: #6E5A41;
    color: #F5E5D5;
    border-radius: 24px;
    text-align: center;
    padding: 18px 0;
    max-width: 484px;
    min-height: 60px;
    width: 100%;
    height: 100%;
}

/* -------- /Блок Стратегия ------- */

/* ---- Блок Часто задаваемы вопросы ----- */

.questions__block {
    height: 100%;
}

.questions__block h2 {
    margin: 0 auto;
    padding-bottom: 48px;
    font-size: 50px;
    font-weight: 100;
}

.questions__block-list-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    margin: 0;
    padding: 0;
    min-height: 715px;
    height: 100%;
}

.questions__block-list-form ul {
    margin: 0;
    padding: 0;
    max-width: 1003px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #fff;

}

.questions__block-list-form li {
    font-size: 24px;
    background-color: #0C232D;
    list-style: none;
    max-height: 96px;
    height: 100%;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 88px;
}

.questions__block-list-form form {
    border: 1px solid #000;
    max-width: 485px;
    min-height: 660px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 34px;
}

/* ---- /Блок Часто задаваемы вопросы ----- */

/* --------- Подвал ------- */

.footer {
    background-color: #0C232D;
    color: #F5E5D5;
    min-height: 846px;
    height: 100%;
}

.footer__block {
    border: 1px solid #fff;
    padding-top: 64px;
}

.footer__block h2 {
    font-size: 64px;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.footer__connection {
    width: 100%;
    border: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 26px 0 48px;
    font-size: 21px;
}

.footer__connection p {
    max-width: 407px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer__connection button {
    max-width: 355px;
    min-height: 64px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #F5E5D5;
    border: none;
    border-radius: 24px;
}

.footer__block ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    min-height: 175px;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

.footer__block li {
    width: 100%;
    border-radius: 24px;
    background-color: #F5E5D5;
    padding: 24px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__block li h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.footer__block li p {
    margin: 0;
    padding: 0;
    font-size: 27px;
}

.footer__connection-mess-block li {
    margin: 0;
    padding: 0;
    flex-direction: column-reverse;
}

.footer__connection-mess-block a {
    padding: 0;
    margin: 0;
    max-width: 64px;
    max-height: 64px;
    height: 100%;
    width: 100%;
}

.footer__block-navigation {
    border: 1px solid #000;
    min-height: 203px;
    height: 100%;
    display: flex;
    margin: 32px 0 0 0;
}

.footer__block-navigation-list {
    border: 1px solid red;
    max-width: 744px;
    min-height: 141px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer__block-navigation-list h3 {
    font-size: 32px;
    font-weight: 100;
    padding: 0;
    margin: 0 0 24px 0;
}

.footer__block-navigation-list ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 141px;
    height: 100%;
}

.footer__block-navigation-list li {
    background-color: transparent;
    border: 1px solid green;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0%;
}

.footer__block-navigation-list a {
    text-decoration: none;
    color: #F5E5D5;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #F5E5D5;
    margin: 32px 0 0 0;
    padding-top: 32px;
    color: #fff;
    font-size: 24px;
}

.footer__bottom p {
    padding: 0;
    margin: 0;
}

/* --------- /Подвал ------- */

/* @media screen and (max-width: 390px) {
    .intro__header-block {
        max-width: 970px;
    }
} */

@media screen and (max-width: 1220px) {
    /* ------ Блок Интро ------ */
    .intro__header-block {
        max-width: 970px;
    }

    .intro__header-block h1 {
        font-size: 50px;

    }
    /* ------ /Блок Интро ------ */

    /* ------- Блок Стратегия ------- */
    .strategy__block-stages {
        display: flex;
        flex-direction: column;
    }


    /* ------- /Блок Стратегия ------- */

}